body{ background-image: url(https://cimg2.ibsrv.net/ibimg/hgm/1920x1080-1/100/874/ferrari-sf23-2023-formula-1-race-car_100874922.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment:fixed;}
h1{ font-size: 40px;
color: red;
text-align:center;}
h2{font-size:30px;
color: red;
text-align: left;}
h3{font-size:30px;
color: red;
text-align: right;
margin-left: 1600px;}
.item p {color: red;}
.inline-block{
display: inline;
}
.right{
margin-left: 1600px;}
